<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CES-26 - Home</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <h1>Hello</h1>
    <form action="/search">
        <input type="text" name="q" placeholder="Busca"/>
        <input type="submit" value="Buscar!">
    </form>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Enviar!">
    </form>

    <button id="ajax"> Clique! </button>
    <p id="lucky"> Você está com sorte hoje? </p>
</body>
</html>
