<div class="card-container">
    <p><%= file %></p>
    <div>
        <a class="download-button" download href="<%=`/static/uploads/${file}`%>">
            Donwload &rsaquo;
        </a>
    </div>
</div>
